<div class="modal-header" ng-init="loadImage()">
    <button type="button" class="close" ng-click="$ctrl.cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
</div>
<div class="modal-body">
    <!--form starts-->
    <div class="login">
        <div class="login-body">
            <h3 class="login-heading">Circular Upload</h3>
            <div class="login-form">
                <form name="loginForm" class="login-form" ng-submit="uploadFileFirestorge()" novalidate>
                    <div class="form-group">
                        <label for="fileTitleRefNo">Circular Reference</label>
                        <input ng-model="wrapper.fileTitleRefNo" id="fileTitleRefNo" class="form-control" type="text"
                            name="fileTitleRefNo" spellcheck="false" autocomplete="off" maxlength="20" required>
                        <div ng-show="loginForm.$submitted || loginForm.fileTitleRefNo.$touched">
                            <small ng-show="loginForm.fileTitleRefNo.$error.required"
                                class="has-error help-block">Please
                                enter reference</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fileTitle">Title</label>
                        <input ng-model="wrapper.fileTitle" id="fileTitle" class="form-control" type="text"
                            name="fileTitle" spellcheck="false" autocomplete="off" maxlength="100" required>
                        <div ng-show="loginForm.$submitted || loginForm.fileTitle.$touched">
                            <small ng-show="loginForm.fileTitle.$error.required" class="has-error help-block">Please
                                enter title</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="viewStartDate">View Start Date</label>
                        <div class="input-with-icon">
                            <input id="viewStartDate" name="viewStartDate" class="form-control" type="text"
                                ng-model="wrapper.viewStartDate" ng-focus="open($event,'viewStartDate')"
                                uib-datepicker-popup="dd/MM/yyyy" is-open="datepickers.viewStartDate"
                                show-button-bar="false" datepicker-options="datepicker.options" required>
                            <span class="icon icon-calendar input-icon"></span>
                        </div>
                        <div ng-show="loginForm.$submitted || loginForm.viewStartDate.$touched">
                            <small ng-show="loginForm.viewStartDate.$error.required" class="has-error help-block">Please
                                select view start date</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="viewEndDate">View End Date</label>
                        <div class="input-with-icon">
                            <input id="viewEndDate" name="viewEndDate" class="form-control" type="text"
                                ng-model="wrapper.viewEndDate" ng-focus="open($event,'viewEndDate')"
                                uib-datepicker-popup="dd/MM/yyyy" is-open="datepickers.viewEndDate"
                                show-button-bar="false" datepicker-options="datepicker.options">
                            <span class="icon icon-calendar input-icon"></span>
                        </div>
                        <div ng-show="loginForm.$submitted || loginForm.viewEndDate.$touched">
                            <small ng-show="loginForm.viewEndDate.$error.required" class="has-error help-block">Please
                                select view end date</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <div class="panel panel-body text-center" match-height>
                                <span>{{imageProgress}}</span>
                            </div>
                            <!-- <div ng-if="fileType=='pdf'" class="icon-with-child">
                                <img class="circle" width="200" height="200" ng-src="{{avatar}}" alt="">
                                <div class="file-thumbnail file-thumbnail-pdf"></div>

                            </div>
                            <div ng-if="fileType=='doc'" class="icon-with-child">
                                <div class="file-thumbnail file-thumbnail-doc"></div>

                                <img class="circle" width="200" height="200" src="img/student/empty_person.png" alt="">
                            </div> -->
                        </div>
                        <input type="file" id="file" ng-model="myFile"
                            accept="image/*,.csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/plain, text/html, video/*, audio/*, .pdf, .doc, .docx"
                            name="file" file-model="myFile"
                            onchange="angular.element(this).scope().imageUpload(this)" />
                        <div ng-show="loginForm.$submitted || loginForm.file.$touched">
                            <small ng-show="loginForm.file.$error.required" class="has-error help-block">Please
                                select file</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <button class="btn btn-primary btn-block" ng-disabled="loading" type="submit">
                                    <span ng-show="loading"><i class="spinner spinner-inverse spinner-md"></i></span>Upload</button>
                        </div>
                        <div class="col-xs-6">
                            <button class="btn btn-default btn-block" type="button"
                                ng-click="$ctrl.cancel()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!---form ends-->
</div>
<div class="modal-footer"></div>