<div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.cancel()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
    <div class="modal-body">
        <!--form starts-->
        <div class="login">
            <div class="login-body">
                <h3 class="login-heading">Parent Message</h3>
    
                <div class="login-form">
                    <form name="loginForm" class="login-form" ng-submit="saveData()" novalidate>
    
    
                        <!----tab starts-->
                        <!-- <div class="panel m-b-lg">
                            <uib-tabset justified="true"> -->
    
                                <!--Fee payment info-->
                                <!-- <uib-tab index="0">
                                    <uib-tab-heading>
                                        <span class="icon icon-user"></span> Message
                                    </uib-tab-heading>
     -->
    
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="studentID">Student ID</label>
                                                    <input ng-model="wrapper.studentID" id="studentID" class="form-control"
                                                        type="text" name="studentID" maxlength="20"
                                                        ng-disabled="codeDisabled" required>
                                                    <div ng-show="loginForm.$submitted || loginForm.studentID.$touched">
                                                        <small ng-show="loginForm.studentID.$error.required"
                                                            class="has-error help-block">Please enter
                                                            student
                                                            id</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-8">
                                                <div class="form-group">
                                                    <label for="studentName">Student Name</label>
                                                    <input ng-model="wrapper.studentName" id="studentName"
                                                        class="form-control" type="text" name="studentName" minlength="1"
                                                        maxlength="100" ng-disabled="codeDisabled" required>
                                                    <div ng-show="loginForm.$submitted || loginForm.studentName.$touched">
                                                        <small ng-show="loginForm.studentName.$error.required"
                                                            class="has-error help-block">Please
                                                            enter student name</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-sm-12">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label for="messageID">Reference</label>
                                                    <input ng-model="wrapper.messageID" id="messageID" class="form-control"
                                                        type="text" name="messageID" spellcheck="false" autocomplete="off"
                                                        maxlength="10" required>
                                                    <div ng-show="loginForm.$submitted || loginForm.messageID.$touched">
                                                        <small ng-show="loginForm.messageID.$error.required"
                                                            class="has-error help-block">Please enter
                                                            reference</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-sm-12">
                                            <div class="col-xs-12">
                                                <div class="form-group">
                                                    <label for="message">Message</label>
                                                    <textarea ng-model="wrapper.message" id="message" class="form-control"
                                                        name="message" spellcheck="false" autocomplete="off"
                                                        maxlength="1000" rows="4" required></textarea>
                                                    <div ng-show="loginForm.$submitted || loginForm.message.$touched">
                                                        <small ng-show="loginForm.message.$error.required"
                                                            class="has-error help-block">Please enter message</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <button class="btn btn-primary btn-block" type="submit">Send</button>
                                                </div>
                                                <div class="col-xs-6">
                                                    <button class="btn btn-default btn-block" type="button"
                                                        ng-click="$ctrl.cancel()">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
    
                                <!-- </uib-tab> -->
                                <!--end of fee payemnt info-->
    
                                <!--history info-->
                                <!-- <uib-tab heading="History" index="1" ng-click="loadData()">
                                    <uib-tab-heading>
                                        <span class="icon icon-user-md"></span> History
                                    </uib-tab-heading> -->
    
                                    <!-- <div class="row gutter-xs">
                                        <div class="col-xs-12">
                                            <div class="card"> -->
                                                <!-- <div class="card-header">
                                            <div class="card-actions">
                                                <button type="button" class="card-action card-toggler"
                                                    title="Collapse"></button>
                                                <button type="button" class="card-action card-reload"
                                                    title="Reload"></button>
                                            </div>
                                            <strong>History</strong>
                                        </div> -->
                                                <!-- <div class="card-body"> -->
                                                    <!-- <table datatable class="table table-bordered table-striped table-nowrap dataTable"
                                                dt-columns="dt_fee.columns" dt-options="dt_fee.options" dt-instance="dt_fee.dtInstance" cellspacing="0"
                                                width="100%">
                                            </table> -->
    
                                                    <!-- <div class="row gutter-xs">
                                                    <div class="col-md-6 col-lg-3 col-lg-push-0">
                                                        <div class="card bg-primary">
                                                            <div class="card-body"> -->
<!--     
                                                    <div class="list-group" ng-repeat="list in studentMessageWrapper">
                                                        <a class="list-group-item">
                                                            <div class="clear">
                                                                <small class="pull-right">{{list.messageDateTime}}</small>
                                                                <h5 class="list-group-item-heading">{{list.messageID}}</h5>
                                                                <small class="truncate">{{list.message}}</small>
                                                            </div>
                                                        </a>
                                                    </div> -->
                                                    <!-- </div>
                                                        </div>
                                                    </div>
                                                </div> -->
    
    
<!--     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </uib-tab>
                                end of history -->
    
                            <!-- </uib-tabset>
                        </div>
                        -tab ends -->
    
                    </form>
                </div>
    
    
            </div>
        </div>
        <!---form ends-->
    </div>
    <div class="modal-footer"></div>