<div class="layout-content-body" ng-init="loadStudentProfile()">
    <div class="row">
        <div class="col-md-12">
            <h3>My Parents</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="demo-form-wrapper">

                <div class="panel panel-body" match-height>



                    <!----first box-->
                    <h4>Parents</h4>
                    <div class="panel panel-body" match-height>

                        <form class="form form-horizontal">


                            <!--parents row 1-->
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label for="fatherName">Father Name</label>
                                    <input type="text" id="fatherName" name="fatherName" class="form-control"
                                        ng-model="wrapper.fatherName">
                                </div>
                                <div class="col-xs-4">
                                    <label for="fatherSurname">Surname</label>
                                    <input type="text" id="fatherSurname" name="fatherSurname" class="form-control"
                                    ng-model="wrapper.fatherSurname">
                                </div>
                                <div class="col-xs-4">
                                    <label for="fatherOccupation">Father Occupation</label>
                                    <input type="text" id="fatherOccupation" name="fatherOccupation" class="form-control"
                                    ng-model="wrapper.fatherOccupationValue">
                                </div>
                            </div>

                            <!--parents row 2-->
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label for="fatherAge">Father Age</label>
                                    <input type="text" id="fatherAge" name="fatherAge" class="form-control"
                                    ng-model="wrapper.fatherAge">
                                </div>
                                <div class="col-xs-4">
                                    <label for="fatherEducation">Father Education</label>
                                    <input type="text" id="fatherEducation" name="fatherEducation" class="form-control"
                                    ng-model="wrapper.fatherEducationValue">
                                </div>
                                <div class="col-xs-4">
                                    <label for="fatherAadhaarNo">Father Aadhaar No</label>
                                    <input type="text" id="fatherAadhaarNo" name="fatherAadhaarNo" class="form-control"
                                    ng-model="wrapper.fatherAadhaarNo">
                                </div>
                            </div>

                            <!--parents row 3-->
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label for="motherName">Mother Name</label>
                                    <input type="text" id="motherName" name="motherName" class="form-control"
                                    ng-model="wrapper.motherName">
                                </div>
                                <div class="col-xs-4">
                                    <label for="motherSurname">Mother Surname</label>
                                    <input type="text" id="motherSurname" name="motherSurname" class="form-control"
                                    ng-model="wrapper.motherSurname">
                                </div>
                                <div class="col-xs-4">
                                    <label for="motherOccupation">Mother Occupation</label>
                                    <input type="text" id="motherOccupation" name="motherOccupation" class="form-control"
                                    ng-model="wrapper.motherOccupationValue">
                                </div>
                            </div>

                            <!--parents row 4-->
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <label for="motherAge">Mother Age</label>
                                    <input type="text" id="motherAge" name="motherAge" class="form-control"
                                    ng-model="wrapper.motherAge">
                                </div>
                                <div class="col-xs-4">
                                    <label for="motherEducation">Mother Education</label>
                                    <input type="text" id="motherEducation" name="motherEducation" class="form-control"
                                    ng-model="wrapper.motherEducationValue">
                                </div>
                                <div class="col-xs-4">
                                    <label for="motherAadhaarNo">Mother Aadhaar No</label>
                                    <input type="text" id="motherAadhaarNo" name="motherAadhaarNo" class="form-control"
                                    ng-model="wrapper.motherAadhaarNo">
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-----end of box one-->


                </div>

            </div>
        </div>
    </div><!-- /.row -->
</div><!-- /.layout-content-body -->