<div class="confirmation">
  <div class="confirmation-icon">
    <div class="icon icon-check icon-5x"></div>
  </div>
  <div class="confirmation-content">
    <h3>Congratulations! Your Payment is accepted.</h3>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>
          <small>Your payment will be confirmed within 2 working days</small>
        </p>
        <!-- <button class="btn btn-default m-y">Track Order</button> -->
      </div>
    </div>
  </div>
</div>