<div class="modal-header" ng-init="loadData()">
  <button type="button" class="close" ng-click="$ctrl.cancel()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
</div>
<div class="modal-body">
  <!--form starts-->
  <div class="login">
    <div class="login-body">
      <h3 class="login-heading">Login Profile</h3>
      <div class="login-form">
        <form name="loginForm" class="login-form" ng-submit="saveData()" novalidate>
          <div class="form-group">
            <label for="userid">Username</label>
            <input ng-model="wrapper.userid" id="userid" class="form-control" type="text" name="userid"
              spellcheck="false" autocomplete="off" maxlength="20" disabled>
            <div ng-show="loginForm.$submitted || loginForm.userid.$touched">
              <small ng-show="loginForm.userid.$error.required" class="has-error help-block">Please enter your
                username.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input ng-model="wrapper.password" id="password" class="form-control" type="password" name="password"
              minlength="6" maxlength="20">
            <div ng-show="loginForm.$submitted || loginForm.password.$touched">
              <small ng-show="loginForm.password.$error.required" class="has-error help-block">Please enter your
                password.</small>
              <small ng-show="loginForm.password.$error.minlength" class="has-error help-block">Password must be 6
                characters or more.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="retypepassword">Retype Password</label>
            <input ng-model="wrapper.retypepassword" id="retypepassword" class="form-control" type="password"
              name="retypepassword" minlength="6" maxlength="20">
            <div ng-show="loginForm.$submitted || loginForm.retypepassword.$touched">
              <small ng-show="loginForm.retypepassword.$error.required" class="has-error help-block">Please retype your
                password.</small>
              <small ng-show="loginForm.retypepassword.$error.minlength" class="has-error help-block">Password must be 6
                characters or more.</small>
            </div>
          </div>
          <div class="form-group">
            <ul class="list-inline">
              <li>
                <label class="custom-control custom-control-primary custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="status" name="status" ng-model="wrapper.status" ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-label">Active</span>
                </label>
              </li>
            </ul>
          </div>
          <div class="form-group">
              <div class="col-xs-6">
                <button class="btn btn-primary btn-block" type="submit">Save</button>
              </div>
              <div class="col-xs-6">
                <button class="btn btn-default btn-block" type="button" ng-click="$ctrl.cancel()">Cancel</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!---form ends-->
</div>
<div class="modal-footer"></div>


<!-- <div class="layout-content-body">
    <div class="row gutter-xs">
      <div class="col-xs-12">
        <p><small>The tables presented below use <a href="https://datatables.net/extensions/responsive/" target="_blank">DataTables Responsive Extension</a>, the styling of which is completely rewritten in SASS, without modifying however anything in JavaScript.</small></p>
      </div>
    </div>
    <div class="row gutter-xs">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <div class="card-actions">
              <button type="button" class="card-action card-toggler" title="Collapse"></button>
              <button type="button" class="card-action card-reload" title="Reload"></button>
              <button type="button" class="card-action card-remove" title="Remove"></button>
            </div>
            <strong>Responsive Table</strong>
          </div>
          <div class="card-body">
            <table datatable class="table table-hover table-striped table-nowrap dataTable" dt-columns="dt.columns" dt-options="dt.options" cellspacing="0" width="100%">
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center m-b">
      <h3 class="m-b-0">Login Profile</h3>
      <small>With borders on all sides of the table and cells.</small>
    </div>
    <div class="row gutter-xs">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-header">
            <div class="card-actions">
              <button type="button" class="card-action card-toggler" title="Collapse"></button>
              <button type="button" class="card-action card-reload" title="Reload"></button>
              <button type="button" class="card-action card-remove" title="Remove"></button>
            </div>
            <strong>Responsive Table</strong>
          </div>
          <div class="card-body">
            <table datatable class="table table-bordered table-striped table-nowrap dataTable" dt-columns="dt.columns" dt-options="dt.options" cellspacing="0" width="100%">
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->